<nav class="title">
  <h1>Loopy Lumber Co</h1>
</nav>

{{!-- outlet shows where the header will appearchild template will appear --}}
<main>
  {{outlet}}
  {{#link-to "production"}}Production{{/link-to}}
</main>